* {
    font-family: 'Lora', serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background-color: #F6F2E6;
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 0;
}

#logo-church-name {
    display: flex;
    align-items: center;
}

#logo {
    height: 130px;
}

#church-name-header {
    margin-left: 20px;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

#church-name-header span{
	font-weight: 700;
	font-size: 40px;
	margin-top: 50px;
	float: left;
}
#hero{
	background-image: 
	linear-gradient(180deg, rgba(0, 0, 0, 0.0) 0%, #282828 110.04%),
	url('../assets/inside-marriage.jpg');
	overflow: hidden;
	background-repeat:no-repeat;
	background-size: contain;
	height: 59.8rem;
}
main {
	margin-top: 100px;
    }
    
    .church-name span {
	margin-bottom: 50px;
    }
    
    #ourchurch {
	background-color: #87CEEB;
	margin-bottom: 10px;
	width: 50%;
	padding: 5% 60px 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	color: white;
	font-weight: 700;
	font-size: 40px;
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	align-items: center;
    }
    
    #ourchurch h1 {
	margin-bottom: 50px;
    }
    
    #programs {
	margin: 50px 0;
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
    }
    
    .church-programs {
	display: inline-block;
	position: relative;
	width: 250px;
	height: 300px;
	background-color: #000;
	color: white;
	margin: 10px;
	border-radius: 10px;
	text-align: center;
	vertical-align: top;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding: 20px;
    }
    
    .church-programs span {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 36px;
	font-weight: 700;
    }
    
    #times {
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 110.04%), url('../assets/altar.jpg');
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: 300px 340px;
	margin: 30px;
	cursor: pointer;
    }
    
    #events {
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 110.04%), url('../assets/events.jpg');
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: 420px 335px;
	margin: 30px;
	cursor: pointer;
    }
    
    #pastoral {
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 110.04%), url('../assets/pastoral.jpg');
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: 300px 340px;
	margin: 30px;
	cursor: pointer;
    }
    
    #about {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 10px;
	width: 100%;
	flex-wrap: wrap;
    }
    
    #about-description {
	margin-bottom: 50px;
	width: 50%;
	padding: 10% 60px 50px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	color: grey;
	font-weight: 700;
	font-size: 30px;
	text-align: unset;
    }
    
    #about-description h1 {
	color: #D2B48C;
    }
    
    #about-map {
	width: 40%;
	margin-left: 20px;
    }
    
    #patron {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0;
	width: 100%;
	flex-wrap: wrap;
    }
    
    #patron-description {
	width: 40%;
	padding: 10% 60px 50px;
	border-radius: 30px;
	color: gray;
	font-weight: 700;
	font-size: 40px;
	line-height: 1.5;
	text-align: unset;
    }
    
    #patron-description h1 {
	color: goldenrod;
    }
    
    #image-patron {
	width: 40%;
	margin-left: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
    }
    
    #image-patron img {
	width: 100%;
	border-radius: 30px;
    }
    
/* FOOTER */
footer {
	background-color: #F6F2E6;
	color: black;
	width: 100%;
	padding: 1.5rem 0;
    }
    
    #footer-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
	padding: 0 2rem;
	gap: 2rem;
    }
    
    #footer-navigation,
    #footer-contacts,
    #footer-address {
	flex: 1;
    }
    
    #footer-navigation ul,
    #footer-contacts ul {
	list-style: none;
	padding: 0;
	margin: 0;
    }
    #footer-contacts ul{
	display: flex;
	justify-content: center;
    }
    #footer-contacts ul li{
	margin: 10px;
    }
    #footer-navigation ul li a,
    #footer-contacts ul li a {
	text-decoration: none;
	color: black;
    }
    
    #footer-address p {
	margin: 0;
    }
    
    
    
